<!DOCTYPE html>
<html>
  <head>
      <!-- <link rel="stylesheet" href="shopstyle.css"> -->

      <link rel="stylesheet" type="text/css" 
      href="{{ url_for('static', filename='shopstyle.css') }}">
  </head>
  <body>
      <h1>Shop</h1>


<ul>
    <li><a href="shop">Mac</a></li>
    <li><a href="shop">iPad</a></li>
    <li><a href="shop">iPhone</a></li>
    <li><a href="shop">Watch</a></li>
    <li><a href="shop">TV</a></li>
    <li><a href="shop">Music</a></li>
    <li><a href="shop">Support</a></li>
</ul> 

  </body>
</html>